body, html {
  margin: 0;
  padding: 0;
}
body {
  background-color: darkslateblue;
}
h1, p, a {
  font-family: monospace;
}

h1 {
  font-size: 1.2rem;
}
.mb-single {
  margin-bottom: 1rem;
}
.mb-double {
  margin-bottom: 1.5rem;
}
.page-container {
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 320px;
  padding-bottom: 15px;
  padding-right: 15px;
  background-color: burlywood;
}
.content-container {
  max-width: 300px;
  height: 350px;
  background-color: bisque;
  padding: 10px 10px 10px 10px;
}
.img-error {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: auto;
}