body, html {
  margin: 0;
  padding: 0;
}
body {
  background-color: darkslateblue;
}
h1, p, a {
  font-family: monospace;
}

h1 {
  font-size: 1.2rem;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.flex-right {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.flex-right img {
  width: 77px;
  height: 77px;
}
.mb-single {
  margin-bottom: 1rem;
}
.mb-double {
  margin-bottom: 1.5rem;
}
.page-container {
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 320px;
  padding-bottom: 15px;
  padding-right: 15px;
  background-color: burlywood;
}
.content-container {
  max-width: 300px;
  background-color: bisque;
  padding: 10px 10px 10px 10px;
}
.mt-0 {
  margin-top: 0;
}
.mt-18p {
  margin-top: 18px;
}
.mb-18p {
  margin-bottom: 18px;
}
.mb-0 {
  margin-bottom: 0;
}